if ! [ -x "$(command -v pyenv)" ]; then
  echo "Error: pyenv is not installed!"
  exit 1
fi

if ! [ -x "$(command -v pipenv)" ]; then
  echo "Error: pipenv is not installed!"
  exit 1
fi

export VIRTUAL_ENV=$(pipenv --venv 2> /dev/null)

if [ -z "$VIRTUAL_ENV" ]
then
    echo "Error: Pipenv is not initialized!"
    echo "Set up your pipenv environment by running 'pipenv install --dev'."
    exit 1
fi

export PIPENV_ACTIVE=1
export PATH="$VIRTUAL_ENV/bin:$PATH"

export PIP_DISABLE_PIP_VERSION_CHECK=1
export PYTHONDONTWRITEBYTECODE=1


export APP_NAME= {{ cookiecutter.project_slug }}
