[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
mypy = "*"
{%- if cookiecutter.use_pytest == 'y' %}
pytest = "*"
pytest-runner = "*"
{%- endif %}
{%- if 'no' not in cookiecutter.command_line_interface|lower %}
PyInstaller = "*"
{%- endif %}
twine = "*"

[packages]
{{ cookiecutter.project_slug }} = {path = ".",editable = true}

[requires]
python_version = "3.7.4"
