# Config file for automatic testing at travis-ci.org

language: python
dist: xenial
python:
  - "3.7"
  - "3.6"
  - "3.5"
  - "2.7"
# pypy is currently not supported due to problems with installing `cryptography`
#   - "pypy"
# pypy3.5 is currently not supported as mentioned here https://github.com/pypa/pipenv/issues/3313
#  - pypy3.5

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# command to run tests, e.g. python setup.py test
script: tox
